*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
body{
    min-height: 1350px;
}
.cabecalho{
    width: 100%;
    min-height: 330px;
    border: 1px black solid;
}
.destaque{
    width: 65%;
    min-height: 460px;
    border: 1px black solid;
    float: left;
    margin-top: 15px;
}
.lado {
    width: 34%;
    min-height: 1039px;
    border: 1px black solid;
    float: right;
    margin-top: 15px;
}
.caixa1{
    width: 32%;
    min-height: 560px;
    border: 1px black solid;
    float: left;
    margin-top: 15px;
}
.caixa2{
    width: 32%;
    min-height: 560px;
    border: 1px black solid;
    float: right;
    margin-right: 13.5px;
    margin-top: 15px;
}
.rodapé{
    width: 100%;
    min-height: 30px;
    border: 1px black solid;
    margin-top: 57%;
}

.lado-2{
   background-color: blue; 
   margin-left: 20px;
   margin-right: 20px;
   margin-top: 15%;
}

.mais-lidos{
    margin-left: 20px;
}

.lidos{
    background-color: brown;
    margin-left: 20px;
    margin-right: 20px;
}

.links{
    margin-left: 15px;
    text-decoration: none;
}