*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 1350px;
}
header img{
    width:100%;
    height: 290px;
}
header main{
    background-color: darkgreen;
}
header main ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-weight: bold;
}
header main ul li{
    border-right: 1px solid black;
    padding-right: 4%;
}
header main ul li:last-child{
    border: none;
}
header main ul li a{
    text-decoration: none;
    color: white;
}
header main ul li a:hover{
    color: black;
    font-style: italic;
}
.destaque{
    width: 65%;
    min-height: 460px;
    border: 1px black solid;
    float: left;
    margin-top: 15px;
}
.lado {
    width: 34%;
    min-height: 1039px;
    border: 1px black solid;
    float: right;
    margin-top: 15px;
}
.caixa1{
    width: 32%;
    min-height: 560px;
    border: 1px black solid;
    float: left;
    margin-top: 15px;
}
.caixa2{
    width: 32%;
    min-height: 560px;
    border: 1px black solid;
    float: right;
    margin-right: 13.5px;
    margin-top: 15px;
}
.rodapé{
    width: 100%;
    min-height: 30px;
    border: 1px black solid;
    margin-top: 57%;
}
#Busca{
    width: 90%;
    margin-left: 5%;
    border: 2px solid black;
    border-radius: 15px;
    height: 27px;
    padding-left: 3%;
    margin-top: 5%;
    font-weight: bold;
    margin-bottom: 5%;
}